In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path = os.getcwd()

In [3]:
df = pd.read_csv(path + "/data/pgaTourData.csv")

In [5]:
df["Player Name"].nunique()

526

In [6]:
len(df)

2312

In [7]:
df

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
0,Henrik Stenson,60.0,75.19,2018,291.5,73.51,29.93,60.67,69.617,868,NaN,5.0,-0.207,1.153,0.427,0.960,-0.027,"$2,680,487"
1,Ryan Armour,109.0,73.58,2018,283.5,68.22,29.31,60.13,70.758,"1,006",1.0,3.0,-0.058,0.337,-0.012,0.213,0.194,"$2,485,203"
2,Chez Reavie,93.0,72.24,2018,286.5,68.67,29.12,62.27,70.432,"1,020",NaN,3.0,0.192,0.674,0.183,0.437,-0.137,"$2,700,018"
3,Ryan Moore,78.0,71.94,2018,289.2,68.80,29.17,64.16,70.015,795,NaN,5.0,-0.271,0.941,0.406,0.532,0.273,"$1,986,608"
4,Brian Stuard,103.0,71.44,2018,278.9,67.12,29.11,59.23,71.038,421,NaN,3.0,0.164,0.062,-0.227,0.099,0.026,"$1,089,763"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2307,Carl Paulson,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$16,943"
2308,Peter Tomasulo,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$12,827"
2309,Marc Turnesa,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10,159"
2310,Jesper Parnevik,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"9,165"
2311,"Jim Gallagher, Jr.",NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,552"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player Name         2312 non-null   object
 1   Rounds              1678 non-null   float64
 2   Fairway Percentage  1678 non-null   float64
 3   Year                2312 non-null   int64
 4   Avg Distance        1678 non-null   float64
 5   gir                 1678 non-null   float64
 6   Average Putts       1678 non-null   float64
 7   Average Scrambling  1678 non-null   float64
 8   Average Score       1678 non-null   float64
 9   Points              2296 non-null   object
 10  Wins                293 non-null    float64
 11  Top 10              1458 non-null   float64
 12  Average SG Putts    1678 non-null   float64
 13  Average SG Total    1678 non-null   float64
 14  SG:OTT              1678 non-null   float64
 15  SG:APR              1678 non-null   float64
 16  SG:ARG              1678 non-null   float64
 17  Money               2300 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 325.3+ KB

In [11]:
temp = df.loc[df["Year"] == 2018]

In [13]:
temp["Player Name"].nunique()

261

In [37]:
temp["Top 10"] = temp["Top 10"].map({np.nan: 0, 1.0: 1, 2.0: 2, 3.0: 3, 4.0: 4, 5.0: 5, 6.0: 6, 7.0: 7, 8.0: 8, 9.0: 9,
                   10.0: 10})

/var/folders/j_/__64n8zj7cl2_v79xs0k7lpm0000gn/T/ipykernel_3100/777849579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["Top 10"] = temp["Top 10"].map({np.nan: 0, 1.0: 1, 2.0: 2, 3.0: 3, 4.0: 4, 5.0: 5, 6.0: 6, 7.0: 7, 8.0: 8, 9.0: 9,

In [33]:
temp["Top 10"].unique()

array([ 5.,  3.,  6.,  2.,  1., nan,  4.,  8.,  7., 10.])

In [28]:
temp["Wins"] = temp["Wins"].map({np.nan: 0, 1.0: 1, 2.0: 2, 3.0: 3})

/var/folders/j_/__64n8zj7cl2_v79xs0k7lpm0000gn/T/ipykernel_3100/362988773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["Wins"] = temp["Wins"].map({np.nan: 0, 1.0: 1, 2.0: 2, 3.0: 3})

In [15]:
temp["Wins"].unique()

array([nan,  1.,  2.,  3.])

In [14]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261 entries, 0 to 1745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player Name         261 non-null    object
 1   Rounds              193 non-null    float64
 2   Fairway Percentage  193 non-null    float64
 3   Year                261 non-null    int64
 4   Avg Distance        193 non-null    float64
 5   gir                 193 non-null    float64
 6   Average Putts       193 non-null    float64
 7   Average Scrambling  193 non-null    float64
 8   Average Score       193 non-null    float64
 9   Points              260 non-null    object
 10  Wins                34 non-null     float64
 11  Top 10              166 non-null    float64
 12  Average SG Putts    193 non-null    float64
 13  Average SG Total    193 non-null    float64
 14  SG:OTT              193 non-null    float64
 15  SG:APR              193 non-null    float64
 16  SG:ARG              193 non-null    float64
 17  Money               260 non-null    object
dtypes: float64(14), int64(1), object(3)
memory usage: 38.7+ KB

In [9]:
df["Year"].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010])

In [43]:
temp = temp.dropna()

In [44]:
temp

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
0,Henrik Stenson,60.0,75.19,2018,291.5,73.51,29.93,60.67,69.617,868,0,5,-0.207,1.153,0.427,0.960,-0.027,"$2,680,487"
1,Ryan Armour,109.0,73.58,2018,283.5,68.22,29.31,60.13,70.758,"1,006",1,3,-0.058,0.337,-0.012,0.213,0.194,"$2,485,203"
2,Chez Reavie,93.0,72.24,2018,286.5,68.67,29.12,62.27,70.432,"1,020",0,3,0.192,0.674,0.183,0.437,-0.137,"$2,700,018"
3,Ryan Moore,78.0,71.94,2018,289.2,68.80,29.17,64.16,70.015,795,0,5,-0.271,0.941,0.406,0.532,0.273,"$1,986,608"
4,Brian Stuard,103.0,71.44,2018,278.9,67.12,29.11,59.23,71.038,421,0,3,0.164,0.062,-0.227,0.099,0.026,"$1,089,763"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Phil Mickelson,90.0,52.91,2018,300.3,64.88,28.11,58.36,70.098,"1,546",1,6,0.510,0.931,-0.225,0.555,0.091,"$4,595,187"
189,Kevin Tway,110.0,52.61,2018,310.1,66.88,29.15,56.77,70.800,577,0,3,0.052,0.329,0.271,0.032,-0.026,"$1,379,544"
190,Ollie Schniederjans,91.0,52.22,2018,301.4,62.77,28.44,56.95,70.641,573,0,3,0.325,0.254,-0.410,0.090,0.250,"$1,303,610"
191,Cameron Tringale,67.0,51.99,2018,289.3,65.52,29.81,55.24,72.146,88,0,0,-0.104,-1.019,-1.351,0.348,0.088,"$179,459"
192,Ricky Barnes,65.0,47.15,2018,290.6,63.75,28.25,57.40,71.663,164,0,1,0.338,-0.365,-1.019,0.059,0.257,"$340,591"

In [46]:
temp["Money"] = temp["Money"].str.replace("$", "", regex=False)

/var/folders/j_/__64n8zj7cl2_v79xs0k7lpm0000gn/T/ipykernel_3100/4247409633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["Money"] = temp["Money"].str.replace("$", "", regex=False)

In [47]:
temp["Money"] = temp["Money"].str.replace(",", "", regex=False)

/var/folders/j_/__64n8zj7cl2_v79xs0k7lpm0000gn/T/ipykernel_3100/4029635906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["Money"] = temp["Money"].str.replace(",", "", regex=False)

In [52]:
temp["Money"] = temp["Money"].astype(int)

/var/folders/j_/__64n8zj7cl2_v79xs0k7lpm0000gn/T/ipykernel_3100/4193369199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["Money"] = temp["Money"].astype(int)

In [53]:
temp

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
0,Henrik Stenson,60.0,75.19,2018,291.5,73.51,29.93,60.67,69.617,868,0,5,-0.207,1.153,0.427,0.960,-0.027,2680487
1,Ryan Armour,109.0,73.58,2018,283.5,68.22,29.31,60.13,70.758,"1,006",1,3,-0.058,0.337,-0.012,0.213,0.194,2485203
2,Chez Reavie,93.0,72.24,2018,286.5,68.67,29.12,62.27,70.432,"1,020",0,3,0.192,0.674,0.183,0.437,-0.137,2700018
3,Ryan Moore,78.0,71.94,2018,289.2,68.80,29.17,64.16,70.015,795,0,5,-0.271,0.941,0.406,0.532,0.273,1986608
4,Brian Stuard,103.0,71.44,2018,278.9,67.12,29.11,59.23,71.038,421,0,3,0.164,0.062,-0.227,0.099,0.026,1089763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Phil Mickelson,90.0,52.91,2018,300.3,64.88,28.11,58.36,70.098,"1,546",1,6,0.510,0.931,-0.225,0.555,0.091,4595187
189,Kevin Tway,110.0,52.61,2018,310.1,66.88,29.15,56.77,70.800,577,0,3,0.052,0.329,0.271,0.032,-0.026,1379544
190,Ollie Schniederjans,91.0,52.22,2018,301.4,62.77,28.44,56.95,70.641,573,0,3,0.325,0.254,-0.410,0.090,0.250,1303610
191,Cameron Tringale,67.0,51.99,2018,289.3,65.52,29.81,55.24,72.146,88,0,0,-0.104,-1.019,-1.351,0.348,0.088,179459
192,Ricky Barnes,65.0,47.15,2018,290.6,63.75,28.25,57.40,71.663,164,0,1,0.338,-0.365,-1.019,0.059,0.257,340591

In [55]:
df.loc[df["Player Name"] == "Tiger Woods"]

,Player Name,Rounds,Fairway Percentage,Year,Avg Distance,gir,Average Putts,Average Scrambling,Average Score,Points,Wins,Top 10,Average SG Putts,Average SG Total,SG:OTT,SG:APR,SG:ARG,Money
126,Tiger Woods,68.0,59.35,2018,303.6,67.40,28.49,64.16,69.350,"1,162",NaN,5.0,0.266,1.596,0.061,0.883,0.385,"$5,443,841"
997,Tiger Woods,61.0,62.50,2013,293.2,67.59,28.85,60.00,68.944,"3,059",5.0,7.0,0.426,2.064,-0.142,1.533,0.247,"$8,553,439"
1163,Tiger Woods,69.0,63.93,2012,297.4,67.58,28.91,63.17,68.904,"2,269",3.0,6.0,0.339,2.310,0.553,1.224,0.194,"$6,133,158"
1882,Tiger Woods,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,215,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"$448,598"
1989,Tiger Woods,NaN,NaN,2014,NaN,NaN,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$108,275"
2171,Tiger Woods,NaN,NaN,2011,NaN,NaN,NaN,NaN,NaN,318,NaN,2.0,NaN,NaN,NaN,NaN,NaN,"$660,238"
2250,Tiger Woods,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,431,NaN,2.0,NaN,NaN,NaN,NaN,NaN,"1,294,765"